[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcbio-gff = "*"
biopython = "*"
build = "*"
cffi = "*"
fastapi = "*"
pep517 = "*"
pooch = "*"
python-multipart = "*"
setuptools = "*"
setuptools-scm = "*"
uvicorn = "*"
xxhash = "*"

[dev-packages]
black = "*"
deciphon-api = {editable = true, path = "."}
isort = "*"
pyright = "*"
pytest = "*"
requests = "*"

[requires]
python_version = "3.9"
